body {
    background-color: bisque;
}

h1 {
    text-align: center;
    font-size: 65px;
}

a {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    padding: 5px;
}